    body {
      background-image: url("https://media.istockphoto.com/id/2196545732/photo/cosmos-blooming-in-a-park.jpg?s=612x612&w=0&k=20&c=f4j4ARFK17AWviTM0ubzdQdO3EsYwD1IqZ0mt-cy_rw=");
      background-color: hsl(50, 57%, 57%);
      background-blend-mode: overlay;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; 
      font-family: Georgia, serif;
    }

    html{
      height: 100%;
      width: 100%;
    }

    #myCanvas1 {
      border: 1px solid rgb(25, 25, 25);
      background-image: url("https://media.istockphoto.com/id/1328673179/vector/sea-vector-illustration-with-water-waves-blue-sky-and-white-clouds.jpg?s=2048x2048&w=is&k=20&c=KEDn_Wcb57R-CNb1e-6uCFo8lPBN1X3Tay1jMU7U2GU=");
      background-size: cover;
   

    #myCanvas2 {
      border: 1px solid rgb(255, 145, 2);
      border-radius: 30px;
    }


